    .menuButton {
      margin-right: 1,
    }

    .button {
      margin: 10,
    }

    .title {
  
      flex-grow: 10%,
    }
    .text {
      margin-top: 20;
      flex-grow: 1;
    }
    .textField {
      margin-top: 5;
      margin-left: 1;
      margin-right: 1;
      width: 300;
    }
  